.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFFFFA;
  padding: 22px;
  justify-content: space-between;
  background: #2E3449;

  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
}
.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFFFFA;
  padding: 22px;
  justify-content: space-between;
  background: #AE445A;

  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
}

.logoContainer {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.headerMenu li {
    cursor: pointer;
    list-style: none;
    margin-right: 30px;
}

.headerLogo {
  width: 40px;
  height: auto;
}

.headerHeading {
  margin-left: 10px;
  font-size: 1.5rem;
}

.main {
  background-color: #F39F5A; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventsContainer {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .eventsContainer {
    flex-direction: column;
    padding: 1rem 4rem;
  }
}

.eventsHeading {
  font-size: 1.7rem;
  color: black;
}

.eventCard {
  position: relative;
  width: 100%;
  height: 300px;
  cursor: pointer;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  overflow: hidden;
  box-shadow: 0 0 3px 2px #2f2f2f;
  transition: transform .2s; 
}

.eventCard:hover {
  transform: scale(1.05);
}

.eventCard img {
  width: 100%;
  object-fit: cover;
}

.eventCardOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0) 90%);
}

.eventCardText {
  position: absolute;
  bottom: 1.1rem;
  font-size: 1.1rem;
}

.registerFormContainer {
  width: auto;
  height: auto;
  background-color: #f3c8a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 4rem;
  border-radius: 1.2rem;
  gap: 0.5rem;
  box-shadow: 0 0 12px 1px #2f2f2f;
}

.registerText {
  color: black;
  font-weight: 600;
  margin-bottom: 1%;
  font-size: 1.3rem;
}

.registerInputFields {
  font-size: 0.8rem;
  color: #242424;
  height: 2.4rem;
  width: 100%;
  text-indent: 9px;
  border: 1px hsla(0, 0%, 0%, 0.6) solid;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 1px 1px rgb(47, 47, 47, 0.2);
}

.registerButton {
  font-size: 1rem;
  background-color: #0b925e;
  width: 8rem;
  height: 2rem;
  border-radius: 0.8em;
  outline: none;
  border: none;
  box-shadow: 0 0 1px 1px rgb(47, 47, 47, 0.5);
  transition: transform 0.2s;
  margin: 2rem 0;
}

.registerButton:hover {
  transform: scale(1.05);
}

.line {
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  margin-top: 5px;
  width: 90%;
  margin: 50px 0;
}
